body {
    background-color: #000000;
    background-size: cover;
}

textarea {
    display: inline;
    vertical-align: top;
}

canvas {
    display: inline;
}

.controlBox {
    background-color: #000000;
    display: inline-block;
	border: 2px solid #000000;
}