body {
    background-color: #0800ff;
    background-size: cover;
}

textarea {
    vertical-align: top;
    width: 100%;
}

canvas {
    display: block;
}

.controlBox {
    background-color: #0800ff;
    display: inline-block;
}